.formBox {
    width: 50%;
}

.xlsxClass {
    table {
      border: 1px solid #c9c9c9c9;
      td {
        border-left: 1px solid #c9c9c9c9;
        border-bottom: 1px solid #c9c9c9c9;
        padding: 3px;
        min-width: 120px;
      }
    }
  }